* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d9c5e;
}

.chronometre {
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  width: 400px;
  text-align: center;
}

.time {
  margin: auto;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
} 

.controls {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

#start{
  background-color: #1d9c5e;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 50%;
  border: 0;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

#stop {
  background-color: red;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 50%;
  border: 0;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}

#reset{
  background-color: grey;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 50%;
  border: 0;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}

button:hover {
  transform: scale(0.9);
}